<!doctype html>
<html class="no-js" lang="en">
    <head>
        <title>Lúa Cup - Carrito</title>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge" />
        <meta name="author" content="">
        <meta name="viewport" content="width=device-width,initial-scale=1.0" />
        <meta name="description" content="">
        <!-- favicon icon -->
        <link rel="shortcut icon" href="images/lua-icon.jpg" />
        <link rel="apple-touch-icon" href="images/lua-icon.jpg" />
        <link
          rel="apple-touch-icon"
          sizes="72x72"
          href="images/lua-icon.jpg"
        />
        <link
          rel="apple-touch-icon"
          sizes="114x114"
          href="images/lua-icon.jpg"
        />
        <!-- google fonts preconnect -->
        <link rel="preconnect" href="https://fonts.googleapis.com" crossorigin>
        <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
        <!-- style sheets and font icons  -->
        <link rel="stylesheet" href="css/vendors.min.css"/>
        <link rel="stylesheet" href="css/icon.min.css"/>
        <link rel="stylesheet" href="css/style.css"/>
        <link rel="stylesheet" href="css/responsive.css"/>
        <link rel="stylesheet" href="demos/beauty-salon/beauty-salon.css" />
    </head>
    <body data-mobile-nav-trigger-alignment="right" data-mobile-nav-style="modern" data-mobile-nav-bg-color="#2E3844" class="custom-cursor">
        <!-- start cursor -->
        <div class="cursor-page-inner">
            <div class="circle-cursor circle-cursor-inner"></div>
            <div class="circle-cursor circle-cursor-outer"></div>
        </div>
        <!-- end cursor -->
        <!-- start header -->
        <header>
          <!-- start navigation -->
          <nav
            class="navbar navbar-expand-lg header-transparent border-bottom border-color-transparent-white-light disable-fixed bg-light-blue-lua" id="navbar"
          >
            <div class="container-fluid">
              <div class="col-auto col-xxl-2 col-lg-2 me-lg-0 me-auto">
                <a class="navbar-brand" href="/">
                  <img
                    src="images/vv_lua_logo-horizontal-beige.png"
                    data-at2x="images/vv_lua_logo-horizontal-beige.png"
                    alt=""
                    class="default-logo"
                  />
                  <img
                    src="images/vv_lua_logo-horizontal-beige.png"
                    data-at2x="images/vv_lua_logo-horizontal-beige.png"
                    alt=""
                    class="alt-logo"
                  />
                  <img
                    src="images/vv_lua_logo-horizontal-beige.png"
                    data-at2x="images/vv_lua_logo-horizontal-beige.png"
                    alt=""
                    class="mobile-logo"
                  />
                </a>
              </div>
              <div class="col-auto menu-order position-static">
                <button
                  class="navbar-toggler float-start"
                  type="button"
                  data-bs-toggle="collapse"
                  data-bs-target="#navbarNav"
                  aria-controls="navbarNav"
                  aria-label="Toggle navigation"
                >
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                  <span class="navbar-toggler-line"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNav">
                  <ul class="navbar-nav">
                    <li class="nav-item">
                      <a href="/" class="nav-link">Home</a>
                    </li>
                    <li class="nav-item">
                      <a href="/" class="nav-link"
                        >Acerca De</a
                      >
                    </li>
                    <li class="nav-item">
                      <a href="/" class="nav-link"
                        >Beneficios</a
                      >
                    </li>
                    <li class="nav-item">
                      <a href="/luacup" class="nav-link"
                        >Adquiere tu Lúa Cup</a
                      >
                    </li>
                    <li class="nav-item">
                      <a
                      href="../lua-cup-instructivo.pdf"
                      download="lua-cup-instructivo.pdf"
                      class="nav-link"
                      >Instructivo</a>
                    </li>
                    <li class="nav-item">
                      <a href="/" class="nav-link"
                        >FAQs</a
                      >
                    </li>
                    <li class="nav-item">
                      <a href="/" class="nav-link"
                        >Contacto</a
                      >
                    </li>
    
                    <li class="nav-item cart-nav-responsive">
                      <a href="/cart" class="nav-link"
                        >Carrito</a
                      ><i
                      class="fa-solid fa-cart-shopping"
                      style="margin-left: 0px"
                    ></i>
                    </li>
    
                    <li class="nav-item wpp-nav-responsive">
                      <a href="https://wa.me/5215527373175" class="nav-link" style="color: #00e676;"
                        >WhatsApp</a
                      ><i class="fa-brands fa-whatsapp" style="font-size: 26px; color: #00e676;"></i>
                    </li>
    
                  </ul>
                </div>
              </div>
              <div class="col-auto col-xxl-1 col-lg-1 text-end d-none d-sm-flex">
                <div class="header-icon">
                  <div class="d-none d-xxl-inline-block me-25px lg-me-0">
                    <a
                      href="https://wa.me/5215527373175"
                      class="widget-text text-white-hover fs-17">
                      <i class="fa-brands fa-whatsapp" style="color: #00e676; font-size: 36px;"></i></a
                    >
                  </div>
                  <div class="header-button">
                    <a
                      href="/cart"
                      class="btn btn-transparent-white-light btn-round-edge" style="font-size: 26px;"
                      ><i
                        class="fa-solid fa-cart-shopping"
                        style="margin-left: 0px"
                      ></i
                    ></a>
                  </div>
                </div>
              </div>
            </div>
          </nav>
          <!-- end navigation -->
        </header>
        <!-- end header -->
        <!-- start page title -->
        <section class="page-title-big-typography bg-light-blue-lua cover-background pb-0 top-space-padding">
            <div class="container">
                <div class="row align-items-center justify-content-center extra-very-small-screen">
                    <div class="col-lg-6 col-md-8 position-relative text-center page-title-extra-small" data-anime='{ "el": "childs", "translateY": [-15, 0], "perspective": [1200,1200], "scale": [1.1, 1], "rotateX": [50, 0], "opacity": [0,1], "duration": 800, "delay": 200, "staggervalue": 300, "easing": "easeOutQuad" }'>
                        <h1 class="alt-font text-dark mb-0">Carrito</h1>
                    </div>
                </div>
            </div>
        </section>
        <!-- end page title --> 

        
        <!-- start section -->  
        <section class="position-relative z-index-1 pb-0 mb-10">
            
            <div class="container">
                <div class="row justify-content-center align-items-top"> 
                    <div class="col-lg-6 pb-7 sm-pb-40px" data-anime='{ "el": "childs", "translateY": [30, 0], "opacity": [0,1], "duration": 600, "delay": 100, "staggervalue": 300, "easing": "easeOutQuad" }'> 
                        <span class="fs-16 text-uppercase text-orange-lua fw-700 mb-10px ls-1px d-inline-block">Que alegría verte por aquí</span>
                        <h2 class="alt-font fw-400 text-dark-gray ls-minus-1px w-80 lg-w-100 mb-40px sm-mb-30px">Tus Productos</h2>
                        <div id="stored-items"></div>
                        <div id="totalPrice"></div>
                        <hr>
                        <% if (result && result.rates && result.rates.length > 0) { %>
                          <span class="fs-16 text-uppercase text-orange-lua fw-700 mb-10px ls-1px d-inline-block">Metodos de Envio disponibles:</span>
                          <span class="fs-16 text-uppercase text-blue fw-700 mb-10px ls-1px d-inline-block">Una vez escoja un metodo, apareceran las opciones de pago debajo de las opciones de envio</span>
                        <% } %>
                        <div class="row justify-content-center">
                          <% if (result && result.rates && result.rates.length > 0) { %>
                            <% result.rates.forEach(rate => { %>
                              <% if (state === "Ciudad de Mexico") { %>
                                <% if (rate.provider === "Segmail") { %>
                                  <% rate.amount = 0; %>
                                <% } %>
                              <% } %>
                              <% if (rate.provider !== "FedEx" && rate.provider !== "Estafeta") { %>
                                <button style="background: none; width: 33%; border: none; text-align: left;"
                                  onclick="createOrder('<%= rate.amount %>', '<%= rate.provider %>', '<%= rate.days %>')"
                                  id="button-quotation"
                                  class="mb-10px">
                                  <div class="quotation col-md-12 bg-light-gray" style="display: inline-block; padding: 20px;">
                                    <p class="mb-5px fw-600 rateProvider"><%= rate.provider %></p>
                                    <p class="mb-5px"><span class="fw-600 rateDays"><%= rate.days %> </span>Días</p>
                                    <p class="mb-5px">Envio: <span class="fw-600"><%= rate.amount %></span></p>
                                    <p class="mb-5px"><%= rate.currency %></p>
                                  </div>
                                </button>
                              <% } %>
                            <% }) %>
                          <% } else { %>
                            <p></p>
                          <% } %>
                        </div>
                        <hr>
                        
                        <div class="xs-fixed-section">
                          <div id="checkout-container">
                            <a class="paypal-button" id="paypal-button" style="background: none; border: none">
                                <img src="https://www.paypalobjects.com/webstatic/en_US/i/buttons/checkout-logo-large.png" alt="Pay with PayPal">
                            </a>
                          </div>
                          <div id="wallet_container"></div>
                        </div>

                    </div> 
                    <div class="col-lg-6 align-self-end contact-form-style-03 sm-mb-50px"> 
                        <div class="bg-dark-gray box-shadow-double-large p-13 lg-p-10 border-radius-10px position-relative overflow-hidden">
                            <h2 class="alt-font text-white xs-mb-15px fancy-text-style-4 ls-minus-1px">Sus Datos</h2>

                            <form id="order-form" method="POST" action="/quotation">
                                <div class="position-relative form-group mb-20px">
                                    <span class="form-icon"><i class="bi bi-person icon-extra-medium"></i></span>
                                    <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required" type="text" name="name" placeholder="Nombre y Apellido*" id="name-order" value="<%= name || '' %>">
                                </div>
                                <div class="position-relative form-group mb-20px">
                                  <span class="form-icon"><i class="bi bi-phone icon-extra-medium"></i></span>
                                  <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required" type="tel" name="phone" placeholder="Telefono*" id="phone-order" value="<%= phone || '' %>" maxlength="15">
                                </div>
                                <div class="position-relative form-group mb-20px">
                                    <span class="form-icon"><i class="bi bi-envelope icon-extra-medium"></i></span>
                                    <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required" type="email" name="email" placeholder="Email*" id="email-order"
                                    value="<%= email || '' %>">
                                </div>
                                
                                <div class="position-relative form-group mb-20px">
                                  
                                  <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control" readonly type="text" name="mex" placeholder="SOLO ENVIOS  A TODA MEXICO*">
                                </div>

                                <div class="mb-20px" style="display: flex; justify-content: space-between;">
                                  <div class="position-relative form-group" style="width: 60%;">
                                      <span class="form-icon"><i class="bi bi-geo-alt-fill icon-extra-medium"></i></span>
                                      <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light      placeholder-medium-gray form-control required" type="text" name="address" placeholder="Direccion*" id="address-order" value="<%= address || '' %>">
                                    </div>
                                    <div class="position-relative form-group" style="width: 35%">
                                      <span class="form-icon"><i class="bi bi-building icon-extra-medium"></i></span>
                                      <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control" type="text" name="floor" placeholder="Piso" id="floor-order" 
                                      value="<%= floor || '' %>">
                                    </div>
                                </div>

                                <div class="" style="display: flex; justify-content: space-between;">
                                  <div class="position-relative form-group mb-20px" style="width: 60%;">
                                      <span class="form-icon"><i class="bi bi-geo-alt icon-extra-medium"></i></span>
                                      <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light  placeholder-medium-gray form-control required" type="text" name="city" placeholder="Ciudad*" id="city-order"
                                      value="<%= city || '' %>">
                                    </div>
                                    <div class="position-relative form-group mb-20px" style="width: 35%">
                                      <span class="form-icon"><i class="bi bi-radar icon-extra-medium"></i></span>
                                      <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control required" type="zip" name="zip" placeholder="ZIP*" id="zip-order"
                                      value="<%= zip || '' %>">
                                    </div>
                                </div>

                                <div class="position-relative form-group mb-20px">
                                  <select name='state' id="state-order" class="required border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control" style="padding: 10px 0px;
                                  width: 100% !important;">
                                    <option value="<%= state || '' %>" disabled selected>Estado*</option>
                                    <option value="Aguascalientes">Aguascalientes</option>
                                    <option value="Baja California">Baja California</option>
                                    <option value="Baja California Sur">Baja California Sur</option>
                                    <option value="Campeche">Campeche</option>
                                    <option value="Chiapas">Chiapas</option>
                                    <option value="Chihuahua">Chihuahua</option>
                                    <option value="Ciudad de Mexico">Ciudad de México</option>
                                    <option value="Coahuila">Coahuila</option>
                                    <option value="Colima">Colima</option>
                                    <option value="Durango">Durango</option>
                                    <option value="Estado de México">Estado de México</option>
                                    <option value="Guanajuato">Guanajuato</option>
                                    <option value="Guerrero">Guerrero</option>
                                    <option value="Hidalgo">Hidalgo</option>
                                    <option value="Jalisco">Jalisco</option>
                                    <option value="Michoacán">Michoacán</option>
                                    <option value="Morelos">Morelos</option>
                                    <option value="Nayarit">Nayarit</option>
                                    <option value="Nuevo León">Nuevo León</option>
                                    <option value="Oaxaca">Oaxaca</option>
                                    <option value="Puebla">Puebla</option>
                                    <option value="Querétaro">Querétaro</option>
                                    <option value="Quintana Roo">Quintana Roo</option>
                                    <option value="San Luis Potosí">San Luis Potosí</option>
                                    <option value="Sinaloa">Sinaloa</option>
                                    <option value="Sonora">Sonora</option>
                                    <option value="Tabasco">Tabasco</option>
                                    <option value="Tamaulipas">Tamaulipas</option>
                                    <option value="Tlaxcala">Tlaxcala</option>
                                    <option value="Veracruz">Veracruz</option>
                                    <option value="Yucatán">Yucatán</option>
                                    <option value="Zacatecas">Zacatecas</option>
                                </select>
                                  
                                </div>

                                <div class="position-relative form-group mb-20px">
                                  
                                  <input class="ps-0 border-radius-0px fs-17 bg-transparent border-color-transparent-white-light placeholder-medium-gray form-control"  type="text" name="message" placeholder="Detalles Acerca de su Direccion" id="details-order" value="<%= details || '' %>">
                                </div>

                                <div class="position-relative form-group form-textarea mt-15px mb-12"> 
                                    
                                    <input type="hidden" name="redirect" value="">
                                    <button class="btn btn-medium btn-white btn-box-shadow mt-30px fw-700 btn-round-edge" type="submit" id="submit-form">Cotizar Envio</button>
                                    <div class="form-results mt-20px d-none"></div>
                                </div>
                            </form>
                            
                            <form action="" id="create-order-form"></form>
                           
                        </div>
                    </div> 
                </div> 
            </div>
        </section>


        <!-- end section --> 
   
        <!-- start footer -->
        <footer class="p-0 bg-blue-lua">
          <div class="container">
            <div
              class="row justify-content-center pt-55px pb-55px sm-pt-40px sm-pb-40px"
            >
              <!-- start footer column -->
              <div
                class="col-lg-9 col-md-12 col-sm-6 last-paragraph-no-margin text-center text-sm-start text-md-center text-lg-start md-mb-30px"
              >
                <a href="/" class="footer-logo d-inline-block"
                  ><img
                    src="images/vv_lua_logo-horizontal-beige.png"
                    data-at2x="images/vv_lua_logo-horizontal-beige.png"
                    alt=""
                /></a>
              </div>
              <!-- end footer column -->
              <!-- start footer column -->
    
              <!-- end footer column -->
              <!-- start footer column -->
              <div
                class="col-lg-3 col-md-4 col-sm-6 last-paragraph-no-margin text-center text-sm-start"
              >
                <span
                  class="d-block text-white fs-15 ls-1px mb-10px text-uppercase fw-800"
                  >Seguinos</span
                >
                <div class="elements-social social-icon-style-09">
                  <ul class="medium-icon light">
                    <li>
                      <a
                        class="facebook"
                        href="https://www.facebook.com/"
                        target="_blank"
                        ><i class="fa-brands fa-facebook-f"></i><span></span
                      ></a>
                    </li>
                    <li>
                      <a
                        class="instagram"
                        href="http://www.instagram.com"
                        target="_blank"
                        ><i class="fa-brands fa-instagram"></i><span></span
                      ></a>
                    </li>
                    <li>
                      <a
                        class="twitter"
                        href="http://www.youtube.com"
                        target="_blank"
                        ><i class="fa-brands fa-youtube"></i><span></span
                      ></a>
                    </li>
                  </ul>
                </div>
              </div>
              <!-- end footer column -->
            </div>
          </div>
          <div
            class="pt-20px pb-20px border-top border-color-transparent-white-light"
          >
            <div class="container">
              <div class="row align-items-center">
                <div
                  class="col-xxl-8 col-lg-7 text-center text-lg-start md-mb-10px"
                >
                <ul class="footer-navbar fs-16">
                  <li class="nav-item">
                    <a href="/" class="nav-link">Home</a>
                  </li>
                  <li class="nav-item">
                    <a href="/" class="nav-link"
                      >Acerca De</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="/" class="nav-link"
                      >Beneficios</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="luacup" class="nav-link"
                      >Adquiere tu Lúa Cup</a
                    >
                  </li>
                  <li class="nav-item">
                    <a
                    href="../lua-cup-instructivo.pdf"
                    download="lua-cup-instructivo.pdf"
                    class="nav-link"
                    >Instructivo</a>
                  </li>
                  <li class="nav-item">
                    <a href="/" class="nav-link"
                      >FAQs</a
                    >
                  </li>
                  <li class="nav-item">
                    <a href="/s" class="nav-link"
                      >Contacto</a
                    >
                  </li>
                </ul>
                </div>
                <div
                  class="col-xxl-4 col-lg-5 fs-16 last-paragraph-no-margin text-white text-center text-lg-start"
                >
                  <p>
                    &copy; 2024 Lúa Cup. Todos los derechos reservados
                   
                  </p>
                </div>
              </div>
            </div>
          </div>
        </footer>
        <!-- end footer -->
         <!-- start scroll progress -->
        <div class="scroll-progress d-none d-xxl-block">
          <a href="#" class="scroll-top" aria-label="scroll">
            <span class="scroll-text">Scroll</span><span class="scroll-line"><span class="scroll-point"></span></span>
          </a>
        </div>
        <!-- end scroll progress -->
        <!-- javascript libraries -->
        <script src="https://sdk.mercadopago.com/js/v2"></script>
        <script type="text/javascript" src="js/jquery.js"></script>
        <script type="text/javascript" src="js/vendors.min.js"></script>
        <script type="text/javascript" src="js/main.js"></script>
        <script type="text/javascript" src="js/checkout.js"></script>
        <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>

    </body>
    <style>
      .quotation {
        transition: transform 0.45s; 
      }
      .quotation:hover {
        transform: scale(0.95);
      }
    </style>
    <script>


let prevScrollpos = window.pageYOffset;
let isAtTop = true;

window.onscroll = function() {
    let currentScrollPos = window.pageYOffset;
    if (currentScrollPos === 0) {
        isAtTop = true;
    } else {
        isAtTop = false;
    }

    if (!isAtTop && prevScrollpos < currentScrollPos) {
        document.getElementById("navbar").style.top = "-100px"; // Ocultar navbar
    } else {
        document.getElementById("navbar").style.top = "0"; // Mostrar navbar
    }
    prevScrollpos = currentScrollPos;
}
    </script>
</html>

